:root {
  --basicblack: rgb(10, 10, 10);
  --basicwhite: rgb(249, 250, 251);
  --background: rgb(255, 255, 255);
  --foreground: #1f1f1f;
  --shadow020: rgba(0, 0, 0, 0.2);
  --shadow014: rgba(0, 0, 0, 0.14);
  --shadow012: rgba(0, 0, 0, 0.12);
  --basicorange: rgb(236, 128, 57);
  --basicgrey: rgb(232, 234, 237);
  --basicgreyinverce: rgb(95, 99, 103);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(10, 10, 10);
    --foreground: rgb(249, 250, 251);
    --basicblack: rgb(255, 255, 255);
    --basicwhite: #1f1f1f;
    --shadow020: rgba(255, 255, 255, 0.2);
    --shadow014: rgba(255, 255, 255, 0.14);
    --shadow012: rgba(255, 255, 255, 0.12);
    --basicgrey: rgb(95, 99, 103);
    --basicgreyinverce: rgb(232, 234, 237);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  line-height: 1.15;
}

h1 {
  font-family: var(--font-pt-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  flex-grow: 0;
}

main {
  background-color: var(--basicwhite);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  box-shadow:
    0px 3px 3px -2px var(--shadow020),
    0px 3px 4px 0px var(--shadow014),
    0px 1px 8px 0px var(--shadow012);
  color: var(--basicblack);
  font-size: 14px;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.toast {
  background-color: var(--basicgrey);
  color: var(--basicblack);
}

/* Styles for Mobile devices */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 8px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1023px;
    padding: 0 16px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
    max-width: 1280px;
  }
}

ul,
ol {
  list-style: none;
}
