.main {
  min-width: 1280px;
  padding: 24px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--basicwhite);
  box-shadow:
    0px 3px 3px -2px var(--shadow020),
    0px 3px 4px 0px var(--shadow014),
    0px 1px 8px 0px var(--shadow012);
}

.thumb {
  display: flex;
  width: 640px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  background-color: #ffd700;
  border-radius: 12px;
}

.photo {
  width: 444px;
  height: 560px;
}

.herowraper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 480px;
}

.heroheader {
  font-size: 72px;
}

.fsspan {
  color: var(--basicblue);
}
