/* mobile */
.main {
  background-color: var(--basicwhite);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow:
    0px 3px 3px -2px var(--shadow020),
    0px 3px 4px 0px var(--shadow014),
    0px 1px 8px 0px var(--shadow012);
  padding: 8px;
}

.br {
  display: none;
}

.hero_header {
  font-size: 24px;
}

.hero_header span {
  color: var(--basicorange);
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 24px;
}

.thumb .photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  margin-bottom: 24px;
}

.hero_text {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 16px;
}

.hero_text span {
  color: var(--basicorange);
}

/* tablet */

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
  }
  .hero_header {
    font-size: 36px;
    max-width: 200px;
  }
  .thumb {
    width: 440px;
    height: 440px;
    margin-bottom: 80px;
  }
  .thumb .photo {
    object-fit: cover;
  }
  .btn {
    margin-bottom: 0;
    order: 4;
    transform: translateY(-64px);
    margin-right: 52px;
    margin-bottom: -100px;
  }
  .hero_text {
    width: 260px;
    margin-bottom: 0;
    order: 3;
    transform: translateY(-100px);
    margin-bottom: -100px;
    font-size: 18px;
  }
}

/* laptop */

@media screen and (min-width: 1024px) {
  .thumb {
    width: 600px;
    height: 400px;
  }

  .br {
    display: flex;
  }

  .hero_header {
    font-size: 52px;
    max-width: 240px;
  }

  .hero_text {
    font-size: 24px;
    width: 320px;
    transform: translateY(-140px);
    margin-bottom: -200px;
  }

  .btn {
    margin-right: 72px;
  }
}
