.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: var(--basicgrey);
  color: var(--foreground);
  font: inherit;
  cursor: pointer;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  outline: none;
  font-size: inherit;
}

.select:hover {
  color: var(--basicorange);
  border: none;
  outline: none;
}
