.header_wraper {
  background-color: var(--basicgrey);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 0 0 8px 8px;
  box-shadow:
    0px 3px 3px -2px var(--shadow020),
    0px 3px 4px 0px var(--shadow014),
    0px 1px 8px 0px var(--shadow012);
  padding: 8px 16px;
  margin-bottom: 8px;
}

.logo {
  font-family: var(--font-pt-sans);
  text-transform: uppercase;
  color: var(--basicorange);
  font-size: 18px;
}

.logo_span {
  color: var(--basicgreyinverce);
}

.nav_container {
  display: flex;
  flex-direction: row;
}

.nav_list {
  display: none;
  font-size: 14px;
}

.nav_link {
  color: var(--basicblack);
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.nav_link:hover,
.nav_link:focus,
.nav_link:active {
  color: var(--basicorange);
}

@media screen and (min-width: 768px) {
  .mobile_menu {
    display: none;
  }

  .logo {
    font-size: 24px;
  }

  .header_wraper {
    padding: 16px 32px;
  }

  .nav_list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .nav_list {
    gap: 16px;
    font-size: 16px;
  }
}
