.footer_wraper {
  background-color: var(--basicgrey);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px 8px 0 0;
  box-shadow:
    0px 3px 3px -2px var(--shadow020),
    0px 3px 4px 0px var(--shadow014),
    0px 1px 8px 0px var(--shadow012);
  padding: 16px;
  margin-top: 8px;
}

.sm {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer_wraper {
    padding: 16px 32px;
  }

  .sm {
    display: flex;
  }
}
